.header-container{
  height: 100%;
  max-width: 14rem;
  min-width: 13rem;
  border-right: 1px solid black;

  .add-recipe-button{
    margin: 0 auto;
    border: none;
    width: 12rem;
    cursor: pointer;
    display: block;
    font-size: 20px;
    padding: 0.5rem;
    background-color: greenyellow;
  }

  .header-menu-container{
    margin: 0 auto;
    width: 12rem;
    display: flex;
    flex-direction: column;
  }

  .header-search-container{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 0.5rem auto;
    max-width: 12rem;

    .search-wrapper {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
      justify-content: flex-end;

      input {
        border: none;
        width: 100%;
      }
      #search-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  .header-logo-container{
    margin: 1rem auto;
    width: 40px;
    height: 40px;
    .header-container-cake-icon{
      width: 100%;
    }
  }
}
