.b-recipe-list-container{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style-type: none;
  flex-wrap: wrap;

  .delete-confirm-dialog{
    position: absolute;
    .p-dialog-header{
      display:none;
    }
    .p-dialog .p-dialog-footer {
      text-align: center;
      .p-button.p-button-sm {
        padding: 0.429rem 1rem;
        font-size: 1rem;
      }
    }
  }
}
