.recipe-details-container{
  margin: 0 auto;
  width: 50rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  .recipe-card-title-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .recipe-card-title-details{
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      font-size: x-large;
      align-items: baseline;
    }

    .recipe-card-title{
      margin: 0;
      font-size: xx-large;
      font-weight: bold;
    }

    .temperature-field{
      margin: 0;
    }

    .time-wrapper{
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
      .time-field{
        margin: 0;
      }
    }
    .fav-delete-button-wrapper{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .delete-ingredient-icon{
        cursor: pointer;
        font-size: 20px;
      }
      .add-favorite-icon{
        cursor: pointer;
        color: #E64C3D;
        font-size: 20px;

      }
    }
  }
  .recipe-card-subtitle{
    margin: 0.2rem 0 0.7rem;
    padding-left: 2rem;
    font-weight: normal;
  }
  .recipe-card-body-container{
    padding: 1rem 0.5rem;
    .recipe-card-ingredient-wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
      list-style: none;
      margin: 0.5rem 0.3rem;
      padding-inline-start: 0;
      .recipe-card-ingredient-list{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        li{
          text-align: right;
        }
        .recipe-ingredient-unit{
          width: 16px;
        }
        .recipe-ingredient-amount{
          width: 32px;
        }
      }
      .recipe-ingredient-detail{
        font-size: small;
        color: #515050;
      }
    }

    .open-recipe-button-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0.5rem;
      .open-recipe-button{
        cursor: pointer;
        color: blue;
      }
    }
  }
  .recipe-note-wrapper{
    .recipe-note-editor{
      width: 100%;
      height: fit-content;
    }
  }
}

