.recipe-card{

  .recipe-card-ingredient-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.5rem 0.3rem;
    list-style: none;
    padding-inline-start: 0;

    .recipe-ingredient-unit{
      width: 16px;
    }
    .recipe-ingredient-amount{
      width: 32px;
    }
  }

  .recipe-card-title-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .recipe-card-title{
      min-width: 8.75rem;
    }

    .temperature-field{
      margin: 0;
    }

    .time-wrapper{
      display: flex;
      flex-direction: row;
      .time-field{
        margin: 0;
      }
    }
    .fav-delete-button-wrapper{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .delete-ingredient-icon{
        cursor: pointer;
      }
      .add-favorite-icon{
        cursor: pointer;
      }
    }
  }

  .recipe-card-title{
    margin: 0;
  }
  .recipe-card-list-item-wrapper{
    padding: 0 0 0 20px;
  }
}
