.recipe-card{

  .recipe-card-title-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .recipe-card-title{
      min-width: 8.75rem;
      margin: 0;
    }

    .temperature-field{
      margin: 0;
    }

    .time-wrapper{
      display: flex;
      flex-direction: row;
      .time-field{
        margin: 0;
      }
    }
    .fav-delete-button-wrapper{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;

      .delete-ingredient-icon{
        cursor: pointer;
      }
      .add-favorite-icon{
        cursor: pointer;
        color: #E64C3D;
      }
    }
  }
  .recipe-card-subtitle{
    margin: 0;
    padding-left: 0.5rem;
    font-weight: normal;
  }
  .recipe-card-ingredient-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    list-style: none;
    margin: 0.5rem 0.3rem;
    padding-inline-start: 0;
    .recipe-card-ingredient-list{
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .recipe-ingredient-unit{
        width: 16px;
      }
      .recipe-ingredient-amount{
        width: 32px;
      }
    }
      .recipe-ingredient-detail{
        font-size: small;
        color: #515050;
      }
  }
}
